.wf-loading * {
    opacity: 0;
}

.textimg {
    width: 100%;
    /* padding-bottom: 25px; */
}

.grey-heading_nerf,
.paragraph-3.nerf_text,
p {
    color: #606060;
    /* This sets the font color to a dark grey */
}

model-viewer {
    width: 100%;
    height: 200px;
}

.paragraph-3.nerf_text.centered {
    text-align: center;
}

.padded, table {
    padding: 25px;
    width: 100%;
}

.header { 
    width:70%;
    margin-bottom: 0px;
}